body {
  font-family: "DM Sans", sans-serif;
}

.h1 {
  font-family: DM Sans;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: -2.5010533332824707px;
  text-align: left;
}

.p {
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.6252632141113281px;
  text-align: left;
  margin-top: 30px;
  color: #696871;
  width: 464px;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.header,
.footer {
  background: rgba(255, 113, 67, 0.27);
  padding: 38px 0 48px 0;
}

.header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_li {
  display: inline-block;
}

.nav_li:not(:first-of-type) {
  margin-left: 49px;
}

.nav_link {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.468947px;
  color: #696871;
  text-decoration: none;
}

.nav_link:hover {
  color: black;
  transition: 300ms;
}

.button {
  width: 212.39px;
  height: 60px;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.531474px;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button_orange {
  background: #ff7143;
}

.button_orange:hover {
  background: #f05f2f;
  transition: 500ms;
}

.button_blue {
  background: #5454d4;
  margin: 50px 35px 0 0;
}

.button_blue:hover {
  background: #3636e4;
  transition: 500ms;
}

.button_white {
  background: white;
  color: #5454d4;
  border: 1px solid #5454d4;
  border-radius: 10px;
}

.button_white:hover {
  background: rgb(245, 237, 237);
  transition: 500ms;
}

.footer_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_footer {
  max-width: 1070px;
  margin: 0 auto;
  padding: 53px 0 52px 0;
}
